[Unit]
Description=SoundLocator Sound Processor Service
Requires=led-runner.service
After=led-runner.service

[Service]
Type=simple
WorkingDirectory=/home/pi/soundlocator
ExecStartPre=/bin/bash -c 'while [ ! -e /tmp/led.sock ]; do sleep 0.5; done'
ExecStart=/home/pi/.local/bin/poetry run python sound_processor.py
Restart=always
User=pi
Environment="PATH=/home/pi/.local/bin:/usr/bin:/bin"

[Install]
WantedBy=multi-user.target
